.badge-blog{
	background-color: #0066ff;
}

.badge-media{
	background-color: #cccc00;
}

.badge-workshop{
	background-color: #00b300;
}

.badge-main{
	background-color: #248f8f;
}

.badge-code{
	background-color: #d1233d;
}

.badge-journal{

}

a>span {
	color: #fff;
}

@media (min-width: 770px) {
 .sticky {
 	position: fixed;
 }
}

@media (max-width: 500px) {
 body {
 	font-size: 75%;
 }

 .nav-link {
	padding: 5px;
 }
}

ul {
	padding-inline-start: 20px;
}

.tab-pane {
	margin-top: 3%;
}